body {
  overflow: hidden;
  background-color: $white;
}

body, select, input, button, textarea { color: $text_normal; }

div:focus {
  outline: none;
}

h2 {
  font-size: 200%;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 140%;
  margin-bottom: 0.5em;
}

.explain {
  font-size: 80%;
  color: $text_light;
}

.bigexplain {
  color: $text_light;
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  color: $text_dark;
  font-family: monospace;
}

b { font-weight: bold; }
i { font-style: italic; }

.unread { color: $text_normal !important; font-weight: bold; }
.mine { color: $text_mine !important; }
.mine_reply { color: $text_reply !important; }
.mine_in_thread { color: $text_in_thread !important; }
.sticky { background-color: $bg_sticky; }

.button { margin-right: 8px; }
[type="submit"] { margin-right: 0; }

.button {
  display: inline-block;
  text-align: center;
  line-height: 24px;
  vertical-align: middle;
  padding: 0 6px;
  margin-top: -2px;
  border: 2px solid $border_button;
  border-radius: 2px;
  background-color: $bg_light;
  font-weight: bold;

  &:first-of-type {
    margin-left: 8px;
  }

  &:hover {
    color: $bg_light;
    background-color: $border_button;
  }

  &:active {
    opacity: 0.7;
  }

  &.green {
    border-color: $button_green;
    &:hover { background-color: $button_green; }
  }

  &.red {
    border-color: $button_red;
    &:hover { background-color: $button_red; }
  }

  &.blue {
    border-color: $button_blue;
    &:hover { background-color: $button_blue; }
  }

  &.yellow {
    border-color: $button_yellow;
    &:hover { background-color: $button_yellow; }
  }

  &.orange {
    border-color: $button_orange;
    &:hover { background-color: $button_orange; }
  }

  &#next_unread[href="#"] {
    color: $border_button;
    &:hover { background-color: $bg_light; }
  }

  &#star_post_button {
    &:hover {
      color: $text_normal;
      background-color: $bg_light;
      border-color: $button_green;
    }
    &.starred, &.starred:hover {
      color: $bg_light;
      border-color: $button_green;
      background-color: $button_green;
    }
  }
}

.buttons {
  .explain {
    display: inline-block;
    padding: 0 6px;
    font-size: 100%;
  }

  .sticky_explain {
    display: inline-block;
    font-size: 80%;
    color: $text_light;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    padding-left: 6px;
  }
}

.smallbutton, .role_badge {
  display: inline-block;
  text-align: center;
  font-size: 80%;
  font-weight: bold;
  color: $bg_light !important;
  background-color: $border_button;
  text-decoration: none !important;
  border-radius: 2px;
  padding: 0 0.5em;
}

.smallbutton {
  &:hover {
    opacity: 0.7;
    color: $bg_light !important;
  }
}

.role_badge {
  padding: 0 0.25em;
  line-height: normal;
  vertical-align: 10%;
  font-style: normal;
  background-color: $button_orange;
}

.user_info {
  .real_name {
    font-weight: bold;
  }

  .username, .email {
    color: $text_light;
  }
}

img.gravatar {
  float: left;
  margin-right: 5px;
  border-radius: 2px;
}

#ajax_error {
  position: absolute;
  z-index: 15;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-weight: bold;
  background-color: $bg_sticky;
  border-bottom: 2px solid $border_warning;
}
