$white:           #111;
$bg_light:        #222;
$bg_toolbar:      #333;

$dimmer_opacity:  0.5;

$bg_row_selected: #122334;
$bg_row_hover:    #233445;
$bg_expand_hover: #344556;
$bg_sticky:       #282810;

$border_light:    #333;
$border_button:   #777;
$border_pane:     #777;
$border_warning:  #ee3;

$text_dark:       #bbb;
$text_normal:     #bbb;
$text_light:      #777;

$text_mine:       #3b3;
$text_reply:      #c5c;
$text_in_thread:  #66c;

$text_quote_1:    #288;
$text_quote_2:    #993;
$text_quote_3:    #959;

@import 'master';
