<div id="overlay_dimmer"></div>
<div id="dialog">
  <h2><%= @reason %></h2>
  <p><%= @explanation %></p>
  <div class="buttons">
    <a class="button" href="#" onclick="location.reload(true); return false;">Refresh</a>
    <a class="button" href="https://members.csh.rit.edu/">Go to Members Portal</a>
  </div>
</div>
