<div id="dialog">
  <h2>About WebNews</h2>
  
  <p>WebNews is a Ruby on Rails frontend for <a href="https://wiki.csh.rit.edu/wiki/News">CSH News</a> brought to you by Alex Grant, a.k.a. <a href="https://wiki.csh.rit.edu/wiki/User:Grantovich">Grantovich</a>. Documentation on various features and implementation details is available on the <a href="https://wiki.csh.rit.edu/wiki/WebNews">WebNews wiki page</a>.</p>
  
  <p>The WebNews code lives on <a href="https://github.com/grantovich/CSH-WebNews">GitHub</a>. Bug reports and feature requests should be submitted to the <a href="https://github.com/grantovich/CSH-WebNews/issues">issue tracker</a>.</p>
  
  <h3>Hotkey Reference</h3>
  <table class="hotkeys_container">
    <tr>
      <td>
        <table class="hotkeys">
          <tr><td><span class="key">Esc</span>/<span class="key">h</span></td><td>Home</td></tr>
          <tr><td><span class="key">n</span></td><td>Next Unread</td></tr>
          <tr><td><span class="key">/</span></td><td>Search</td></tr>
          <tr><td><span class="key">~</span></td><td>Settings</td></tr>
          <tr><td><span class="key">?</span></td><td>About</td></tr>
          <tr><td><span class="key">Alt</span>+<span class="key">i</span></td><td>Mark newsgroup read</td></tr>
          <tr><td><span class="key">Alt</span>+<span class="key">Shift</span>+<span class="key">i</span></td><td>Mark everything read</td></tr>
          <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
          <tr><td><span class="key">c</span></td><td>Post New</td></tr>
          <tr><td><span class="key">r</span></td><td>Post Reply</td></tr>
          <tr><td><span class="key">u</span></td><td>Mark Unread</td></tr>
          <tr><td><span class="key">t</span></td><td>Sticky/unsticky</td></tr>
          <tr><td><span class="key">#</span></td><td>Cancel post</td></tr>
          <tr><td><span class="key">d</span></td><td>Show/hide headers</td></tr>
          <tr><td><span class="key">q</span></td><td>Show/hide quoted text</td></tr>
        </table>
      </td>
      <td>
        <table class="hotkeys">
          <tr><td><span class="key">j</span>/<span class="key">k</span></td><td>Select next/previous post</td></tr>
          <tr><td><span class="key">Shift</span>+<span class="key">j</span>/<span class="key">k</span></td><td>Select next/previous thread</td></tr>
          <tr><td><span class="key">Alt</span>+<span class="key">j</span>/<span class="key">k</span></td><td>Select next/previous newsgroup</td></tr>
          <tr><td><span class="key">e</span></td><td>Expand/collapse selected post</td></tr>
          <tr><td><span class="key">Shift</span>+<span class="key">e</span></td><td>Expand/collapse current thread</td></tr>
          <tr><td><span class="key">Alt</span>+<span class="key">&#8679;</span></td><td>Focus on newsgroup view &lowast;</td></tr>
          <tr><td><span class="key">Alt</span>+<span class="key">&#8681;</span></td><td>Focus on message view &lowast;</td></tr>
          <tr><td>&nbsp;</td><td class="explain">&lowast; Shifts the keyboard focus to enable<br>arrow keys and PgUp/PgDn scrolling</td></tr>
          <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
          <tr><td><span class="key">Alt</span>+<span class="key">s</span></td><td>Submit dialog</td></tr>
          <tr><td><span class="key">Alt</span>+<span class="key">m</span></td><td>Minimize/restore draft</td></tr>
          <tr><td><span class="key">Esc</span>/<span class="key">Alt</span>+<span class="key">q</span></td><td>Cancel or close dialog</td></tr>
        </table>
      </td>
    </tr>
  </table>
  
  <div class="buttons">
    <a href="#" class="button dialog_cancel">Close</a>
  </div>
</div>
