<div id="dialog">
  <h2><%= icon('question-circle') %> About WebNews</h2>

  <p>WebNews is an <a href="https://github.com/grantovich/CSH-WebNews">open-source project</a> originally created by Alex Grant, a.k.a. <a href="https://wiki.csh.rit.edu/wiki/User:Grantovich">Grantovich</a>.</p>

  <ul>
    <li>Newsgroups and news etiquette are explained on the <a href="https://wiki.csh.rit.edu/wiki/News">CSH wiki</a>.</li>
    <li>The features of WebNews and its API are documented on the <a href="https://github.com/grantovich/CSH-WebNews/wiki">WebNews wiki</a>.</li>
  </ul>

  <h3><%= icon('keyboard-o') %> Keyboard Shortcuts</h3>
  <div class="shrinkable">
    <table class="hotkeys_container">
      <tr>
        <td>
          <table class="hotkeys">
            <tr><td><span class="key">Esc</span></td><td>Home</td></tr>
            <tr><td><span class="key">n</span></td><td>Next unread</td></tr>
            <tr><td><span class="key">/</span></td><td>Search</td></tr>
            <tr><td><span class="key">Shift</span>+<span class="key">s</span></td><td>Starred</td></tr>
            <tr><td><span class="key">~</span></td><td>Settings</td></tr>
            <tr><td><span class="key">?</span></td><td>About</td></tr>
            <tr><td><span class="key">Shift</span>+<span class="key">i</span></td><td>Mark thread read</td></tr>
            <tr><td><span class="key">Alt</span>+<span class="key">i</span></td><td>Mark newsgroup read</td></tr>
            <tr><td><span class="key">Alt</span>+<span class="key">Shift</span>+<span class="key">i</span></td><td>Mark everything read</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td><span class="key">j</span>/<span class="key">k</span></td><td>Select next/previous post</td></tr>
            <tr><td><span class="key">Shift</span>+<span class="key">j</span>/<span class="key">k</span></td><td>Select next/previous thread</td></tr>
            <tr><td><span class="key">Alt</span>+<span class="key">j</span>/<span class="key">k</span></td><td>Select next/previous newsgroup</td></tr>
            <tr><td><span class="key">e</span></td><td>Expand/collapse selected post</td></tr>
            <tr><td><span class="key">Shift</span>+<span class="key">e</span></td><td>Expand/collapse current thread</td></tr>
            <tr><td><span class="key">Alt</span>+<span class="key">&#8679;</span></td><td>Keyboard focus on thread view</td></tr>
            <tr><td><span class="key">Alt</span>+<span class="key">&#8681;</span></td><td>Keyboard focus on message view</td></tr>
          </table>
        </td>
        <td>
          <table class="hotkeys">
            <tr><td><span class="key">c</span></td><td>Post</td></tr>
            <tr><td><span class="key">r</span></td><td>Reply</td></tr>
            <tr><td><span class="key">u</span></td><td>Mark unread</td></tr>
            <tr><td><span class="key">s</span></td><td>Star/unstar</td></tr>
            <tr><td><span class="key">t</span></td><td>Sticky/unsticky</td></tr>
            <tr><td><span class="key">#</span></td><td>Cancel post</td></tr>
            <tr><td><span class="key">h</span></td><td>Toggle headers</td></tr>
            <tr><td><span class="key">q</span></td><td>Toggle quoted text</td></tr>
            <tr><td><span class="key">d</span></td><td>Toggle reading mode</td></tr>
            <tr><td><span class="key">v</span></td><td>View in newsgroup (from search)</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td><span class="key">Alt</span>+<span class="key">s</span></td><td>Submit dialog</td></tr>
            <tr><td><span class="key">Alt</span>+<span class="key">m</span></td><td>Minimize/restore draft</td></tr>
            <tr><td><span class="key">Esc</span></td><td>Close dialog, minimize draft</td></tr>
            <tr><td><span class="key">Alt</span>+<span class="key">q</span></td><td>Discard open draft</td></tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div class="buttons">
    <a href="#" class="button dialog_cancel"><%= icon('times') %> Close</a>
  </div>
</div>
