<% if @unread_threads.length > 0 %>
  <h3>Unread Activity</h3>
  <table class="activity">
    <% @unread_threads.each do |thread| %>
      <%= render :partial => 'activity_row', :locals => { :thread => thread, :unread => true } %>
    <% end %>
  </table>
<% end %>

<% if @recent_threads.length > 0 %>
  <h3>Recent Activity</h3>
  <p class="explain">over the past 7 days (excluding control, lists, and csh.test)</p>
  <table class="activity">
    <% @recent_threads.each do |thread| %>
      <%= render :partial => 'activity_row', :locals => { :thread => thread, :unread => false } %>
    <% end %>
  </table>
<% end %>
