<% if @activity.any? %>
  <table class="activity">
    <% @activity.each do |item| %>
      <%= render :partial => 'activity_row', :locals => {
        :newest_post => item[:newest_post],
        :thread_parent => item[:thread_parent],
        :next_unread => item[:next_unread],
        :post_count => item[:post_count],
        :unread_count => item[:unread_count],
        :personal_class => item[:personal_class],
        :cross_posted => item[:cross_posted]
      } %>
    <% end %>
  </table>
<% else %>
  <p>There is no recent activity to display.</p>
<% end %>
