<div id="dialog">
  <h2>Welcome back!</h2>

  <p>Since you didn't log into WebNews for over three months, we cleared out your unread posts so they wouldn't slow things down. Posts from this point on will be marked unread as per your preferences in the <b>Settings</b> dialog.</p>

  <div class="buttons">
    <a href="#" class="button dialog_cancel">Continue</a>
  </div>
</div>
