<div id="dialog">  <h2>Welcome back!</h2>    <p>Since your last visit was over three months ago, all posts up to this moment have been marked as read for you.</p>
    <div class="buttons">    <a href="#" class="button dialog_cancel">Continue</a>  </div></div>