<div id="dialog">
  <h2>Caution!</h2>
  
  <p>Your API key is included in the URL of any RSS feed you generate. <b>If you give someone a feed URL, you are giving them your API key and allowing them to log into WebNews as you.</b> Never make feed URLs publicly available!</p>
  
  <div class="buttons">
    <a href="<%= params[:dest] %>" class="button">I understand, take me to the feed</a>
    <a href="#" class="button dialog_cancel">Never mind</a>
  </div>
</div>
