<div id="dialog">
  <h2><%= icon('exclamation-triangle') %> Project Status</h2>

  <p>As of January 2016, WebNews is no longer actively maintained or supported. See <a href="https://webnews.csh.rit.edu/#!/csh.web/2432" class="dialog_cancel">this news post</a> for details.</p>

  <div class="buttons">
    <a href="#" class="button dialog_cancel"><%= icon('times') %> Close</a>
  </div>
</div>
