$text_new_posts: #cc0;
$text_post_notice: #b70;
$text_dialog_working: #0b0;
$text_dialog_error: #d00;

$button_green: #0b0;
$button_red: #c00;
$button_blue: #77f;
$button_yellow: #cc0;
$button_orange: #c90;

$link_hover: #77c;

@mixin links {
  a {
    color: $text_dark;
    text-decoration: underline;
    &:hover { color: $link_hover; }
  }
}

@mixin highlights {
  &.selected { background-color: $bg_row_selected !important; }
  &:hover { background-color: $bg_row_hover; cursor: pointer; }
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@import 'boilerplate';
@import 'general';
@import 'main_ui';
@import 'dialogs';
