@import "defs";

#overlay_dimmer {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.3;
}

#dialog {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 700px;
  padding: 10px;
  background-color: $bg_light;
  border: 2px solid $border_light;
  border-top: 0;
  
  .buttons {
    text-align: right;
    margin-top: 10px;
  }
  
  .loading, .errors {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
    margin-right: 8px;
  }
  
  .loading { color: #0b0; }
  .errors { color: #d00; }
  
  .with_links {
    @include links;
  }
  
  p, ul {
    @include links;
    margin-bottom: 1.25em;
  }
  
  .form_element {
    margin-bottom: 1em;
  }
  
  p.explain {
    margin-top: 0.5em;
    margin-bottom: 1em;
    
    .smallbutton {
      padding: 0 0.25em;
      font-size: 90%;
    }
  }
  
  p.explain.close {
    margin-top: -1em;
  }
  
  #link_markup_explain {
    font-family: monospace;
    margin-top: 0.5em;
    margin-bottom: 0;
    background-color: $white;
    border: 1px solid $border_button;
    padding-left: 2px;
  }

  fieldset {
    border: 1px solid $border_light;
    border-radius: 2px;
    margin-bottom: 1em;
    padding: 0 10px;
    padding-top: 0.5em;
    .form_element { margin-bottom: 0.75em; }
    legend { color: $text_light; }
  }
  
  input[type=radio] {
    margin-left: 2em;
    &:first-child { margin-left: 0; }
  }
  
  input[type=text], textarea {
    width: 99%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .aligned_field {
    label { vertical-align: middle; }
    label:first-child { width: 90px; display: inline-block; }
    input[type=text] { width: 350px; }
    input[type=checkbox] { vertical-align: middle; margin-left: 20px; }
    input.date { width: auto; }
    p { clear: both; margin-left: 90px; margin-top: 0.25em; }
  }
}

table.hotkeys_container {
  td:first-child { padding-right: 2em; }
}

table.hotkeys {
  td { padding: 0.2em 0; }
  td:first-child {
    padding-right: 1em;
    font-family: monospace;
    text-align: right;
    white-space: nowrap;
  }
  
  td.explain {
    padding-bottom: 1.2em;
  }
  
  .key {
    font-family: monospace;
    font-weight: bold;
    background-color: $white;
    border: 1px solid $border_button;
    padding: 0 0.4em;
    margin: 0 0.1em;
  }
}
