@import "defs";

body { overflow: hidden; }

body, select, input, button, textarea { color: $text_normal; }

div:focus {
  outline: none;
}

h2 {
  font-size: 200%;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 140%;
  margin-bottom: 0.5em;
}

.explain {
  font-size: 80%;
  color: $text_light;
}

.bigexplain {
  color: $text_light;
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  color: $text_dark;
  font-family: monospace;
}

b { font-weight: bold; }
i { font-style: italic; }

.unread { color: $text_normal !important; font-weight: bold; }
.mine { color: #1b1 !important; }
.mine_reply { color: #d1d !important; }
.mine_in_thread { color: #11f !important; }
.sticky { background-color: #ffc; }

.button { margin-right: 8px; }
[type="submit"] { margin-right: 0; }

.button {
  display: inline-block;
  text-align: center;
  line-height: 24px;
  vertical-align: middle;
  padding: 0 6px;
  margin-top: -2px;
  border: 2px solid $border_button;
  border-radius: 2px;
  background-color: $bg_light;
  font-weight: bold;
  
  &:first-of-type {
    margin-left: 8px;
  }
  
  &:hover {
    color: $bg_light;
    background-color: $border_button;
  }
  
  &:active {
    opacity: 0.7;
  }
  
  &.green {
    border-color: #0b0;
    &:hover { background-color: #0b0; }
  }
  
  &.red {
    border-color: #c00;
    &:hover { background-color: #c00; }
  }
  
  &.blue {
    border-color: #77f;
    &:hover { background-color: #77f; }
  }
  
  &.yellow {
    border-color: #cc0;
    &:hover { background-color: #cc0; }
  }
  
  &.orange {
    border-color: #c90;
    &:hover { background-color: #c90; }
  }
  
  &#next_unread[href="#"] {
    color: $border_button;
    &:hover { background-color: $bg_light; }
  }
}

.buttons {
  .explain {
    display: inline-block;
    padding: 0 6px;
    font-size: 100%;
  }
  
  .sticky_explain {
    display: inline-block;
    font-size: 80%;
    color: $text_light;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
  }
}

.smallbutton, .role_badge {
  display: inline-block;
  text-align: center;
  font-size: 80%;
  font-weight: bold;
  color: $bg_light !important;
  background-color: $border_button;
  text-decoration: none !important;
  border-radius: 2px;
  padding: 0 0.5em;
}

.smallbutton {
  &:hover {
    opacity: 0.7;
    color: $bg_light !important;
  }
}

.role_badge {
  padding: 0 0.25em;
  line-height: normal;
  vertical-align: 10%;
  font-style: normal;
  background-color: #c90;
}
